
// START - banner (boilerplate from Le Wagon UI Kitt)
 .banner {
  background-size: cover;
  background-position: center;
  background-color: rgb(0,119,181);
   // background-color: rgb(248, 248, 248);
  padding: 60px 0;
  // gradient:;
}

// START - name
.title-name {
  // color: rgb(245,245,245);
  // font-family: ;
  font-size: 60px;
}
// END - name


.banner h1 {
  margin-bottom: 24px;
  color: rgb(230,230,230);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}

.banner p {
  font-size: 32px;
  color: rgb(240,240,240);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.banner p:hover {
  opacity: 1;
}

// END - banner (boilerplate from Le Wagon UI Kitt)


// START - logos
.banner-links {
  display: flex;
  align-items: center;
}

.banner-links a {
  // color: black; bleu #888888; grey #f0f0f0
  color: rgb(230,230,230);
  // opacity: 0.15;
  opacity: 0.6;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
  transition: 0.3s ease;
}

.banner-links a:hover {
  opacity: 1;
}
// END - logos


// START - stack logos
.banner-stack-links {
  display: flex;
  align-items: center;
}

.banner-stack-links .logos {
  // color: black; bleu #888888; grey #f0f0f0
  color: rgb(230,230,230);
  // opacity: 0.15;
  opacity: 0.6;
  text-decoration: none;
  widows: 40px;
  height: auto;
  padding: 0px 10px;
  transition: 0.3s ease;
}


.banner-stack-links .logos:hover {
  opacity: 1;
}
// END - stack logos



// START - name


// END - name



// START - job titles

// .job-title {

// }

// END - job titles
