<!--  -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <div>
      <img class="avatar-square" alt="avatar-square" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
    </div>
    <div>
      <div class="d-flex">
         <h1>Julien Ergan</h1>
      </div>
      <div>
        <p>Full Stack Web Developer</p>
        <p>Data Science / Deep Learning (soon in training at Tokyo Data Science)</p>
        <p>Water and Environmenal Engineer</p>
        <p>Spouse visa for Japan - 日本人の配偶者等</p>
        <a class="btn btn-flat" href="#">Apply now</a>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <h1>OneBite</h1>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <h1>Jimotrip</h1>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <h1>Mister Cocktail</h1>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
